---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,formatted_address,formatted_phone_number,opening_hours/weekday_text,website,types,business_status&key=<MAP_API_KEY>&place_id=ChIJE7tYRySHa4cRSauU_fDROfk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "business_status" : "CLOSED_TEMPORARILY",
              "formatted_address" : "6715 W Colfax Ave, Lakewood, CO 80214, USA",
              "formatted_phone_number" : "(303) 232-5115",
              "name" : "Casa Bonita",
              "types" : [ "restaurant", "food", "point_of_interest", "establishment" ],
              "website" : "http://www.casabonitadenver.com/"
           },
           "status" : "OK"
        }
  recorded_at: Sat, 27 Feb 2021 22:12:12 GMT
recorded_with: VCR 6.0.0
