---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,formatted_address,formatted_phone_number,opening_hours/weekday_text,website,types,business_status&key=<MAP_API_KEY>&place_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Missing the placeid or reference parameter.",
           "html_attributions" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Wed, 03 Mar 2021 05:03:57 GMT
recorded_with: VCR 6.0.0
